
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Role</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="ttl-brdr">
                                    <h5 class="card-title">Role</h5>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" onclick="window.location.href='/role/create'"><i class="fa fa-plus-circle"></i> Add New</button>
                            <div class="table-responsive">
                                <table id="tableRole" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:15%;">@Html.Label("Role Code")</th>
                                            <th>@Html.Label("Role")</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*<td>@Html.DisplayFor(modelItem => item.KodeRoles)</td>
                                                <td>@Html.DisplayFor(modelItem => item.NamaRoles)</td>*@
                                                <td style="text-align:center;width:5%;">
                                                    @*<button id="ubah" name="ubah" type="button" onclick="UpdateRole('@Html.DisplayFor(modelItem => item.KodeRoles)')" class="btn btn-success" data-toggle="tooltip" data-original-title="Edit"><span class="icon-Pencil"></span></button>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"> Bus Attendance System © 2018 </footer>
    </div>
}


@Scripts.Render("~/Content/IndexJs")

<script>
    $(function () {
        $('#tableRole').DataTable({
            "bSort": false
        });
    });
</script>
